rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    // REGLA PARA PEDIDOS
    match /orders/{orderId} {
      allow read, write: if request.auth != null;
    }
    
    // REGLA PARA SOLICITUDES DE NEGOCIO (SELLERS)
    match /business_requests/{requestId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
    
    // REGLA PARA PRODUCTOS (MENÚ)
    match /products/{productId} {
      allow read, write: if request.auth != null;
    }
    
    // REGLA POR DEFECTO
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
